name: tests-ci
on: [push]
permissions: read-all|write-all
jobs:
  cypress-electron-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3
      
      - name: Install dependencies
        run: npm install

      - name: Run E2E tests
        run: npx cypress run
